{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <h1 class="h3 mb-4 text-gray-800">Listagem de Livros</h1>
                            <div class="col-md-4">
                                <div class="row">
                                    <a href="{% url 'livros_add' %}" class="btn btn-primary" style="margin: 10px">Cadastrar um Título</a>
                                </div>
                            </div>
                            <table class="table">
                              <thead class="thead-dark">
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Título</th>
                                  <th scope="col">Status</th>
                                  <th scope="col">Gênero</th>
                                  <th scope="col">Ações</th>
                                </tr>
                              </thead>
                              <tbody>
                              {%  for livro in object_list %}
                                <tr>
                                  <th scope="row">{{ livro.id }}</th>
                                  <td>{{ livro.nome }}</td>
                                  <td>{{ livro.status }}</td>
                                  <td>{{ livro.genero }}</td>
                                  <td>
                                      <a href="{% url 'livros_update' livro.id %}" class="btn btn-warning">Atualizar</a>
                                      <a href="{% url 'livros_detail' livro.id %}" class="btn btn-dark">Ver Detalhes</a>
                                      <a href="{% url 'livros_delete' livro.id %}" class="btn btn-danger">Deletar</a>
                                  </td>
                                </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                    </div>
    <!-- /.container-fluid -->
    {% block footer %}
        {% include 'base/footer.html' %}
    {% endblock footer %}
{% endblock content %}